@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #EF233C;
    --color-secondary: #8D99AE;
    --color-background: #EDF2F4;
    --color-surface: #FFFFFF;
    --color-onBackground: #000000;
    --color-onSurface: #000000;
    --color-onPrimary: #EDF2F4;
    --color-onSecondary: #EDF2F4;
}

body {
    background-color: var(--color-background);
    font-family: "JetBrains Mono", monospace;
}